extends layout

block content
    .jumbotron
        .container.heading
            h1 About
            p This is a basic express website
            a.btn.btn-success.btn-lg(href='/contact') Send message
    .container
        .row
            .col-md-4
                h2 About Us
                p Some Text
                a.btn.btn-default(href='#') view Details
            .col-md-4
                h2 Services
                p Some Text
                a.btn.btn-default(href='#') view Details
            .col-md-4
                h2 Get In Touch
                p Some Text
                a.btn.btn-default(href='#') view Details
