body {
  padding-top: 50px;
  font-family: 'Kameron';
  font-size: 18px;
}

.jumbotron {
  background-color: rgb(74, 0, 248);
  background-size: cover;
}

footer {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-top: 14px;
}

.heading {
  color: #fff;
}
